extends ../layout

block content
    h2 Forgot Password
    form(action="/auth/forgot" method="POST")
        br
        .form-group
            label(for="email") Email:
            input.form-control(name="email" id="email" type="email" autofocus)

        input.btn.btn-default(type="submit" class="btn" name="submit" value="Submit")