extends layout

block content
    if errors
        each error in errors
            div.alert.alert-danger #{error.msg}
    form(action="/posts/add" method="POST" enctype="multipart/form-data")
        br
        .form-group
            label(for="title") Title:
            input.form-control(name="title" id="title" type="text" autofocus)

        .form-group
            label(for="category") Category
            select.form-control(name="category")
                each category in categories
                    option(value="#{category.name}") #{category.name}
        
        .form-group
            label(for="body") Body:
            textarea.form-control(name="body" id="body" cols="30" rows="10")

        .form-group
            label(for="image") Main Image:
            input.form-control(name="image" id="image" type="file" accept="image/*")

        //- .form-group
        //-     label(for="author") Author:
        //-     select.form-control(name="author")
        //-         option(value="John Doe") John Doe
        //-         option(value="Mary Doe") Mary Doe

        input.btn.btn-default(type="submit" class="btn" name="submit" value="Save →")

    script(src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js")
    script
        | CKEDITOR.replace('body');
