doctype html
html
  head
    title NodeBlog | #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      img(src="/images/nodebloglogo.png", alt="Node blog logo")
      nav
        ul
          if user
          li
            a(href="/") Home

          if user
            li
              a(href="/posts/add") Add Post

            li
              a(href="/categories/add") Add Category

          if !user
            li
              a(href="/users/register") Register

            li
              a(href="/auth/login") Login
          if user
            li
              a(href="#")= `${user.firstName}`
            li
              a(href="/auth/logout") Logout
      != messages()
      block content
      footer
        p NodeBlog &copy; 2019
